body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-sector {
    display: flex;
    background-color: #1F2937;
    padding: 1rem 14rem 7rem;
    
    
}

.left-side {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    
    
    
}

.right-side {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;

}

.links {
    display: flex;
    gap: 22px;
    justify-content: flex-end;
    align-self: flex-end;
}

.header-link {
    font-size: 16px;
    color: #e5e7eb;
    text-decoration: none;
    
}






.fat-caption {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
    margin-bottom: 0px;
}

.small-caption {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 16px;
    color: #e5e7eb;

}

.sign-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 8px;
    align-self: baseline;
    cursor: pointer;
    

}


.logo {
    width: 86px;
    height: 90px;
    align-self: flex-start;
    margin-bottom: 32px;
    border-radius: 8px;
}

.placeholder {
    width: 480px;
    height: 230px;
    align-self: flex-end;
    border-radius: 8px;
    
    
}

.second-sector {
    display: flex;
    flex-direction: column;
    padding: 1rem 14rem 7rem;
    
}

.second-top {
    align-self: center;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    gap: 24px;
    
    
}

.whole-square {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    
    
}

.square {
    width: 100px;
    
}

.illustration-subtext {
    max-width: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.third-sector {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
}





.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    max-width: 645px;
    margin-top: 72px;
    
}

.quote-author {
    margin-left: 455px;
    margin-top: -50px;
    margin-bottom: 72px;
}







